
@{
    ViewData["Title"] = "Analysing";
}
<link rel="stylesheet" href="~/css/analyse.css" />

<html>
    <body>
        <div class = "box">
            <img src = "/Images/analyse-background.gif" width="100%" height="100%"/>

        </div>
    </body>
</html>