@{
    ViewData["Title"] = "About Us";
}
<br />
<h1>Meet The Team</h1>
<br />
<div class="container">
    <div class="row">
        <div class="card bg-transparent m-2" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Nathan Henderson</h5>
                <p class="card-text">Here, we'll have a nice breakdown of each of us individually</p>
                <a href="https://github.com/Hendo16" class="btn btn-primary">GitHub</a>
            </div>
        </div>
        <div class="card bg-transparent m-2" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Tristan Gardner</h5>
                <p class="card-text">Here, we'll have a nice breakdown of each of us individually</p>
                <a href="https://github.com/couzare" class="btn btn-primary">GitHub</a>
            </div>
        </div>
        <div class="card bg-transparent m-2" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Shahriar Islam</h5>
                <p class="card-text">Here, we'll have a nice breakdown of each of us individually</p>
                <a href="https://github.com/shahxzil" class="btn btn-primary">GitHub</a>
            </div>
        </div>
        <div class="card bg-transparent m-2" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Pritham Mahal</h5>
                <p class="card-text">Here, we'll have a nice breakdown of each of us individually</p>
                <a href="https://github.com/prithxm1" class="btn btn-primary">GitHub</a>
            </div>
        </div>
        <div class="card bg-transparent m-2" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Max</h5>
                <p class="card-text">Here, we'll have a nice breakdown of each of us individually</p>
                <a href="#" class="btn btn-primary">GitHub</a>
            </div>
        </div>
        <div class="card bg-transparent m-2" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Dr. Kim</h5>
                <p class="card-text">Here, we'll have a nice breakdown of each of us individually</p>
                <a href="#" class="btn btn-primary">GitHub</a>
            </div>
        </div>
    </div>
</div>
