@{
    ViewData["Title"] = "About Us";
}

<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> 

<br />
<h1 style="color:white;">Meet The Team</h1>
<br />
<div class="container">
    <div class="row">
        <div class="card bg-transparent m-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title" style="color:white;">Nathan Henderson</h5>
                <p class="card-text">Software Engineering Student, Tech hobbyist and overall nerd.</p>
                
            </div>
            <a href="https://github.com/Hendo16" target="_blank" rel="noopener noreferrer" class="about">GitHub</a>
        </div>

        <div class="card bg-transparent m-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title" style="color:white;">Tristan Gardner</h5>
                <p class="card-text">Aspiring Cyber Security and Software Development Engineer currently studying Computer Science.</p>
                
            </div>
            <a href="https://github.com/couzare" target="_blank" rel="noopener noreferrer" class="about">GitHub</a>
        </div>

        <div class="card bg-transparent m-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title" style="color:white;">Shahriar Islam</h5>
                <p class="card-text">Final year Computer Science student, I am an avivd coder with a keen interest in developing software and Artificial Intelligence.</p>
                
            </div>
            <a href="https://github.com/shahxzil" target="_blank" rel="noopener noreferrer" class="about">GitHub</a>
        </div>

        <div class="card bg-transparent m-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title" style="color:white;">Pritham Mahal</h5>
                <p class="card-text">A Computer Science student with an interest in becoming a Cyber Security Analyst.</p>
                
            </div>
            <a href="https://github.com/prithxm1" target="_blank" rel="noopener noreferrer" class="about">GitHub</a>
        </div>

        <div class="card bg-transparent m-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title" style="color:white;">Xufei Wang (Max)</h5>
                <p class="card-text">University student with keen interest in software development, and am looking to apply knowledge in a business setting.</p>
                
            </div>
            <a href="https://github.com/maxXufeiWang" target="_blank" rel="noopener noreferrer" class="about">GitHub</a>
        </div>

        <div class="card bg-transparent m-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title" style="color:white;">Dr. Kim</h5>
                <p class="card-text">Dr. Kim is CRYPT DETECT's sponsor and project founder. </p>
                
            </div>
            <a href="https://scholars.uow.edu.au/display/jongkil_kim" target="_blank" rel="noopener noreferrer" class="about">UOW Page</a>
        </div>
    </div>
</div>

