@{
    ViewData["Title"] = "About Us";
}
<br />
<h1>Meet The Team</h1>
<br />
<div class="container">
    <div class="row">
        <div class="card bg-transparent m-2" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Nathan Henderson</h5>
                <p class="card-text">Software Engineering Student, Tech hobbyist and overall nerd.</p>
                <a href="https://github.com/Hendo16" class="btn btn-primary">GitHub</a>
            </div>
        </div>
        <div class="card bg-transparent m-2" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Tristan Gardner</h5>
                <p class="card-text">Aspiring Cyber Security and Software Development Engineer currently studying Computer Science at University of Wollongong. <br><br> I have an oddity of skills ranging from Java, CentOS Bash, Ubunutu11 Bash, phpMyAdmin SQL, Oracle SQL, Python, C++, and competent in general Web Development.</p>
                <a href="https://github.com/couzare" class="btn btn-primary">GitHub</a>
            </div>
        </div>
        <div class="card bg-transparent m-2" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Shahriar Islam</h5>
                <p class="card-text">Current student, I am an avivd coder with a keen interest in developing existing applications.</p>
                <a href="https://github.com/shahxzil" class="btn btn-primary">GitHub</a>
            </div>
        </div>
        <div class="card bg-transparent m-2" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Pritham Mahal</h5>
                <p class="card-text">Currently a Computer Science student with an interest in becoming a Cyber Security Analyst.</p>
                <a href="https://github.com/prithxm1" class="btn btn-primary">GitHub</a>
            </div>
        </div>
        <div class="card bg-transparent m-2" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Xufei Wang(Max)</h5>
                <p class="card-text">Some Guy.</p>
                <a href="#" class="btn btn-primary">GitHub</a>
            </div>
        </div>
        <div class="card bg-transparent m-2" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Dr. Kim</h5>
                <p class="card-text">Here, we'll have a nice breakdown of each of us individually</p>
                <a href="#" class="btn btn-primary">GitHub</a>
            </div>
        </div>
    </div>
</div>
