@{
    ViewData["Title"] = "Download";
}
<h1>@ViewData["Title"]</h1>

<p>This is a template page. This 'link' will simple re-direct to the downloaded binary file when we have that later down the track.</p>
