@{
    ViewData["Title"] = "Home Page";

}
<div class="text-center">
    <h1 class="display-4">Identify Blockchain Systems</h1>
    <br />
    <p>A unique tool that lets you detect existing blockchain systems through analysing your source code.</p>
</div>

<br />

<div class="container">
    <div style="width: 100%; display: table;">
        <div style="display: table-row; height: 100px;">
            <div style="width: 50%; display: table-cell; text-align: left; ">
                <h4>How It Works</h4>
                <br />
            </div>
            <div style="display: table-cell; text-align: left; ">
                <h3>Identify Blockchain Systems</h3>
                <br />
                <p>A unique tool that allows detection of existing blockchain systems through analysing your source code.</p>
            </div>
        </div>
    </div>
</div>
