@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Identify Blockchain Systems</h1>
    <br />
    <p>A unique tool that lets you detect existing blockchain systems through analysing your source code.</p>
</div>
